/* Footer.css */
.footer {
    background-color: #ffffff;
    padding: 2rem 0;
    color: #212529;
    font-size: 0.9rem;
    border-top: 1px solid #dbdfe2;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1110px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
  }
  
  .footer-brand {
    flex: 1;
  }
  
  .footer-pages,
  .footer-social {
    display: flex;
    flex-direction: column;
  }
  
  .footer-pages h4,
  .footer-social h4 {
    margin-bottom: 1rem;
  }
  
  .footer-pages ul,
  .footer-social ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-pages li,
  .footer-social li {
    margin-bottom: 0.5rem;
  }
  
  .footer-pages a,
  .footer-social a {
    color: #212529;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-pages a:hover,
  .footer-social a:hover {
    color: #0056b3;
  }
  
 .p{
  justify-content: center;
 }
  
  .footer-logo {
    width: 150px; 
    margin-bottom: 1rem;
  }
  
  .social-link:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-pages,
    .footer-social {
      align-items: center;
      margin-top: 1rem;
    }
  
    .footer-bottom {
      margin-top: 2rem;
      justify-content: center;
      
    }
  }
  